body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    margin-bottom: 50px;
}
.orange-color{
    color: orange;
}
section{
    margin-bottom: 100px;
}
.d-flex{
    display: flex;
}
.header{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.col-half{
    width: 50%;
    padding-left: 5%;
}
.col-half img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    background: linear-gradient( orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    box-shadow: 2px 4px linen;
    font-weight: 700;
    letter-spacing: 2px;
}
.dream-big{
    background: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area .title{
    margin-left: 5%;
}
.experince-item{
    box-shadow: 0px 0px 20px gray;
    width: 40%;
    margin-left: 5%;
    padding: 20px 30px;
    border-radius: 10px;
}
#full-stack{
    border-left: 7px solid black;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid black;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: gray;
}

.cyan-color{

    background: linear-gradient(-75deg , orange 20%,tomato 60%);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradiente 4s linear infinite;
}
@keyframes gradiente{
     to {
      background-position: 200% center;
    }
}